.jtk-node {
    border:1px solid #ccc;
    background-color:white;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius:3px;
    min-width:100px;
    padding:10px;
}

.jtk-node .name {
    background-color: #3E7E9C;
    color: #f7ebca;
    cursor: move;
    font-size: 13px;
    line-height: 24px;
    padding: 6px;
    text-align: center;
}

.jtk-node .name span {
    cursor:pointer;
}

.jtk-connector path {
    stroke: #89bcde;
}

.jtk-endpoint circle {
    fill:#89bcde;
}

path.jtk-overlay  {
    fill:#89bcde;
}

