node_modules
.idea
_build_es6
.vscode
.npmrc
.angular
**/dist/
package-lock.json
TODO.txt
bundle.js
bundle-es5.js

/archive/
/apps/orgchart/angular/src/assets/avatars/
/apps/orgchart/vue2/public/avatars
/apps/orgchart/vue3/public/avatars
/apps/orgchart/vanilla/avatars
/apps/orgchart/react/public/avatars
/apps/image-processor/vanilla/typescript/_build/
