@import "../../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit.css";
@import "../../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit-connector-editors.css";
@import "../../node_modules/@jsplumbtoolkit/browser-ui/css/jsplumbtoolkit-demo-support.css";
@import "./app.css";

#app {
  width: 100vw;
  height: 100vh;
  display: flex;
  position:relative;
}
